<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Simple image search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Results:</h2>
            {% for img_res in res_to_html %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ img_res['path'] }}" height="200px">
                <figcaption>dist: {{ img_res['dist'] }}</figcaption>
                <figcaption>probability: {{ img_res['probability'] }}</figcaption>
                <p>caption: {{img_res['captions']}}</p>
                <p>categories: {{img_res['categories']}}</p>
            </figure>
            {% endfor %}
        </div>
    </body>
</html>


