
{% extends "template.html" %}

{% block head_intro_block %}
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
	            <h1 class="mb-3 bread">About This Project</h1>
	            <p>This image serach engine is the final course project for Web Information Retrieval in 2018/5</p>
	          </div>
	        </div>
				</div>
			</section>
			<section class="ftco-section-no-padding bg-light">
				<div class="hero-wrap">
					<div class="overlay"></div>
					<div class="d-flex">
						<div class="author-image text img p-md-5 ftco-animate" style="background-image: url(images/author.jpg);">
						</div>
						<div class="author-info text p-4 mt-5 mb-5 ftco-animate">
							<div class="desc">
								<h1 class="mb-4">Details </h1>
								<p class="mb-4">This image search engine is based on Web technology and deep learning technology. There three main functions:</p>
								<ul class="mb-4">
									<li>Image serach, find similar images for users</li>
									<li>Image classification, tell the user which class the uploaded query image belongs to</li>
									<li>Image caption, give general discription of the images</li>
									<li>Image editting, a simple UI for editing the images</li>
								</ul>
								<ul class="ftco-social mt-3">
		              <li class="ftco-animate"><a href="https://www.facebook.com/profle.php?id=100009767554346"><span class="icon-facebook"></span></a></li>
		              <li class="ftco-animate"><a href="https://twitter.com/OYZH888"><span class="icon-twitter"></span></a></li>
		              <li class="ftco-animate"><a href="https://github.com/oyzh888/"><span class="icon-github"></span></a></li>
		            </ul>
	            </div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}

{% block photograhy_block %}
{% endblock %}