
{% extends "template.html" %}

{% block photograhy_block %}
                    <div class="row no-gutters">
                        <div> <h6 style="margin: 10px">Query</h6> </div>
                    </div>

                    <!--Query Image-->
                    <div class="row no-gutters">
						<div class="col-md-4 ftco-animate">
							<a href="uploaded/default.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(uploaded/default.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Your query</h3>
									<span class="tag">European_gallinule</span> <br>
                                    <span class="tag">Confidence:0.72595334</span>
								</div>
							</a>
						</div>
					</div>

					<div class="row no-gutters">
                        <div> <h6 style="margin: 10px">Result</h6> </div>
                    </div>

                    <div class="row no-gutters">
                    <!--Search result-->

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000552157.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000552157.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:a little blue bird standing next to the snow</span><br>
                                    <span class="tag">Distant:0.8246241</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000432805.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000432805.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:a little black bird sititng on part of a barbed wire fence </span><br>
                                    <span class="tag">Distant:0.84537756</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000270089.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000270089.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A blue bird sitting on top of a barbed wire.</span><br>
                                    <span class="tag">Distant:0.85244465</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000381221.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000381221.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A blue and gray bird perched on top of a wooden post.</span><br>
                                    <span class="tag">Distant:0.89699554</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000280852.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000280852.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A blue and gray bird perched on top of a tree.</span><br>
                                    <span class="tag">Distant:0.9104062</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000278797.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000278797.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A bird sitting on a ledge beside a potty plant.</span><br>
                                    <span class="tag">Distant:0.91947585</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000117531.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000117531.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A small bird sitting on the ground in the grass.</span><br>
                                    <span class="tag">Distant:0.9206549</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000152089.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000152089.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A small brown bird perched on he top of a stick.</span><br>
                                    <span class="tag">Distant:0.9264162</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="dataset/MSCOCO/train2014/COCO_train2014_000000516914.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(dataset/MSCOCO/train2014/COCO_train2014_000000516914.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Category: European_gallinule jay indigo_bunting</h3>
                                    <span class="tag">Caption:A bird is perched on a tree with a berry in his mouth. </span><br>
                                    <span class="tag">Distant:0.933515</span>
								</div>
							</a>
						</div>

					</div>
{% endblock %}

