
{% extends "template.html" %}

{% block head_intro_block %}
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Error</span></p>
	            <h1 class="mb-3 bread">Page not found</h1>
	            <p>Please upload <b>valid</b> image file (like jpg, png, bmp etc.) which is less than 10MB</p>
	          </div>
	        </div>
				</div>
			</section>
{% endblock %}

{% block photograhy_block %}
{% endblock %}